@CHARSET "UTF-8";

body {
	overflow: auto;
}

header, section#products, footer {
	width: 90%;
	margin: 0.2em auto;
	padding: 0.3em;
	text-align: center;
}

header h1 {
	text-align: left;
	margin: 0;
	padding: 0;
	background-image: url("img/headerBackground.png");
	background-repeat: no-repeat;;
	background-size: 100% 100%;
	background-image: url("img/headerBackground.png")
}

#loginCartContainer, #categories, .product, .fotoramaBackground {
	border: 1px solid #E4E4E4;
	border-radius: 3px 3px 0px 0px;
	box-shadow: 0px 2px 10px 0px gray;
	padding: 6px;
}

#loginCartContainer, #categories {
	color: white;
	text-shadow: 1px 1px 1px black;
	background-color: #ff6100;
}

#loginCartContainer section {
	display: inline-block;
}

#loginCartContainer section#loginContainer {
	width: 70%;
}

#loginCartContainer section#loginContainer div {
	display: inline-block;
}

#loginCartContainer section#cartContainer {
	width: 25%;
}

#cartContainer img {
	min-width: 20px;
	width: 10%;
}

#products {
	box-shadow: 0px 2px 10px 0px gray;
}

#products #productsContainer, #productsContainer .product {
	display: inline-block;
	vertical-align: top;
}

#products #categories, #products #productsContainer {
	width: 100%;
	text-align: left;
}

#products #categories {
	max-height: 18px;
}

#products #categories img {
	position: relative;
	width: 50%;
	height: 35px;
	left: -13px;
	top: -10px;
}

#products #categories nav {
	position: relative;
	top: -49px;
	left: -10px;
}

#products #categories nav ul {
	list-style: none;
}

#products #categories li, a, a:hover, a:visited, a:active {
	position: relative;
	top: -3px;
	text-align: left;
	text-decoration: none;
	color: inherit;
	display: inline-block;
	margin-left: 2%;
}

#products #productsContainer {
	width: 75%;
}

#productsContainer .product {
	width: 20%;
	paddin: 2px;
	text-align: center;
	margin: 1%;
}

.product img {
	height: auto;
	max-width: 90%;
	padding: 12px;
	vertical-align: middle;
}

.product input[name=addCesta], #loginContainer a, #loginContainer button
	{
	border: 1px solid black;
	background: #1d87be;
	color: white;
	border-radius: 5px;
	padding: 1%;
	text-shadow: 1px 1px 1px #000;
}

#loginContainer button {
	background-color: #a52a2a;
	top: -3px;
}

#loginContainer a {
	top: 0;
}

.fotoramaBackground {
	text-align: center;
}

.fotorama {
	width: 30%;
	margin: 0 auto;
}

.fotorama__arr--next {
	
}

.fotorama__arr--prev {
	
}